@import './base.css';

#app {
    font-weight: normal;
    padding: 15px;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

body{
    background: black;
}